@tailwind base;
@tailwind components;
@tailwind utilities;
/* Masquer scrollbar tout en gardant le scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;     /* Firefox */
}
